    <div class="jumbotron text-center p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-sm-12 px-0">
        <h1 class="display-4 font-italic">Spurs Central</h1>
        <p class="lead my-3">The latest news and analysis of the San Antonio Spurs from <a href="https://www.poundingtherock.com/">Pounding the Rock</a>.</p>
        <a href="/" id="scrape" class="btn btn-secondary">Scan for New Articles</a>
        <a href="/saved" id="savedNotesPage" class="btn btn-secondary">View Saved Articles</a>
        <a href="/notes" id="allNotes" class="btn btn-secondary">View All Notes</a>
    </div>
  </div>
    <div class="container">        
        <div id="articles">
        </div>
        <div id="news_background"></div>
        <div id="notes"></div>
            
    </div>